extends layout

block content
  form(method="post", enctype="multipart/form-data")
    h1 Youtube Uploader
    input(type="file", name="filename")
    input(type="submit", name="upload_btn", value="upload")
